.body
  .container
    .content-main.clearfix
      .main-header
        .main-header__title
          %span TOS SYSTEM (仮)
      = render "shared/sidebar"

      .search-header
        .search-header__main
          .search-header__main-search
            %input AWB No.
            %input Flight No.
            %input

      .main-content
        .main-content__body
          %table.table-bordered.table-responsive.table-striped
            %tr
              %th AWB No.
              %th 
              %th 
              %th ORG
              %th DST
              %th Pcs
              %th Wgt
              %th Vol
              %th 品名
            - @awbs.each do |awb|
              %tr
                %td
                  = awb.prefix
                %td -
                %td
                  = awb.suffix
                %td
                  = awb.org
                %td
                  = awb.dst
                %td
                  = awb.pcs.to_s + "Pcs  "
                %td
                  = awb.wgt.to_s + "Kg  "
                %td
                  = awb.vol.to_s + "M3  "
                %td
                  = awb.description