
.content-main.clearfix
  .main-header
    .main-header__title
      %span TOS SYSTEM (仮)
  = render "shared/sidebar"

  .search-header
    .search-header__main
      .search-header__main-search
        %input AWB No.
        %input Flight No.
        %input

  .main-content
    .main-content__body
      %table.table-responsive
        - @awbs.each do |awb|
          = awb.prefix + " -"
          = awb.suffix
          = awb.org
          = awb.dst
          = awb.pcs.to_s + "Pcs"
          = awb.wgt.to_s + "Kg"
          = awb.vol.to_s + "M3"
          = awb.description
          %br